.card {
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  transition: transform 0.2s ease;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content {
  padding: 12px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
}

.content p {
  color: #282828b2;
  margin: 0;
}

.content span {
  color: #009eca;
}

.meta {
  color: #6b7280;
  font-size: 0.95rem;
}

.currency {
  margin-right: 4px;
  font-size: 0.85rem;
  color: #282828b2;
}

.button {
  background: #28a745;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 5px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "vazir";
  transition: all 0.3s;
}

.button:hover {
  background: #2a8f02;
}

.bottomCard {
  padding: 12px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d9d9d9;
}

@media (max-width: 390px) {
  .card {
    width: 80%;
    margin: 0 auto;
  }
}
